project1/frontend/node_modules
project1/backend/node_modules
points_of_a_student/backend/node_modules
points_of_a_student/backend/frontend/node_modules
reactNative/my-app/node_modules
reactNative/my-app2/node_modules
